.btn-block1 {
    display: block;
    width: 8%;
    margin-left: 39px;
}
.form-control1 {
    display: block;
    width: 39%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 20px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #33a4b4;
    border: 1px solid #dddfeb;
    border-radius: .35rem;
    max-width: 12%;
    height: auto;
    margin-left: 24px;
}