<form action="">
  <div class="form-group">
    <!-- <input type="file" class="form-control1 form-control-user" id="fname" name="fname"> -->
   <input (change)="fileSelected($event)" type="file" class="form-control form-control-user" id="fname" name="fname">
    <br>
    <img [src]="image" alt="Uploaded Image" class="img-thumbnail" *ngIf="status" >
  </div><a href="javascript:void(0)" (click)="upload($event)" class="btn btn-primary btn-user btn-block1">
    Upload
  </a>

  
 
  <!--<img [src]="selectedImage" alt="Uploaded Image">-->
  <!-- <img src="http://localhost:1337/media/download/5c7e036ab27a200b7045debb" alt="Uploaded Image"> -->
  
  <a href="javascript:void(0)" (click)="upload($event)" class="btn btn-primary btn-user btn-block1">
    Upload
  </a>


</form>
