<form class="navbar-form " action="/action_page.php">
  <div class="form-group">
    <input (change)="fileSelected($event)" type="file" class="form-control_1" placeholder="Search">
    <br>
    <a href="javascript:void(0)" (click)="upload($event)" class="btn btn-primary btn-user btn-block1">
      Upload
    </a>
    <br>
    <img [src]="image" alt="Uploaded Image" class="img-thumbnail" *ngIf="status" >
  </div>


</form>

<div class="row">

  <div class=" container-fluid">
    <div class="form-group">
     <input [(ngModel)]="category.name" name="categoryName" type="text" value="enter catagory" class="form-control_2" id="Add"
      placeholder="Enter Category">
    </div><br>
    <button (click)="addCategory()" type="submit" class="btn btn-primary">Add</button>
  </div>

</div>
<!-- table starts -->
<div class="card shadow mb-4 container-fluid">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
                <th>Id</th>
                <th>Category_Name</th>
                <th>Add_date</th>
                <th>Update_on</th>
                <th>Image</th>
                <th>Delete</th>
            </tr>
          </thead>

          <tbody>
                <tr *ngFor="let category of availableCategories">
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.createdAt}}</td>
                    <td>{{category.updatedAt}}</td>
                    <td>
                      <img [src]="'http://192.168.3.23:1337/media/download/'+category.media" *ngIf="category.media" alt="Uploaded Image" class="img-thumbnail">
                    </td>

                    <td><button class="btn btn-danger" (click)="delete(category.id)">Delete</button></td>
                  </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>