<div class="card shadow mb-4 container-fluid">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Product Details</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
                <th>Id</th>
                <th>Product_Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Category</th>
                <th>Remove</th>
            </tr>
          </thead>

          <tbody>
                <tr *ngFor="let product of product">
                    <td> {{product.id}} </td>
                    <td> {{product.name}} </td>
                    <td> {{product.price}} </td>
                    <td> {{product.description}}</td>
                    <td> {{product.category}} </td>
                    <td><button class="btn btn-danger" (click)="deleteproduct(product.id)">Remove</button> </td>
                  </tr>
           
          </tbody>
        </table>
      </div>
    </div>
  </div>
