<div class="col-lg-3"></div>
 <div class="col-lg-6">
  <div class="container">
    <h2>Register form</h2>
    <form  name="myForm" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
      </div>
      <div class="form-group">
        <label for="Username">User Name</label>
        <input type="text" class="form-control" id="username" placeholder="Enter Username" name="Username">
      </div>
      <div class="form-group">
        <label for="birth_date">DOB :</label>
        <input type="date" name="birth_date" id="birth_date">
    </div>
    <div class="form-radio">
      <label for="gender" class="radio-label">Gender :</label>
      <div class="form-radio-item">
          <input type="radio" name="gender" id="male" checked>
          <label for="male">Male</label>
          <span class="check"></span>
      </div>
      <div class="form-radio-item">
          <input type="radio" name="gender" id="female">
          <label for="female">Female</label>
          <span class="check"></span>
      </div>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
   </div>

   <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
     </div>
    <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    
    <button (click)="logout()" type="submit" class="btn btn-primary">Submit</button>
   </form>
  </div>
 </div> 
 <div class="col-lg-3"></div>
