<div class="row">

  <div class="col-lg-6"><div class="col-lg-11"><app-component1></app-component1></div></div>
  <div class="col-lg-6"><div class="col-lg-11"><app-component2 ></app-component2></div></div>

</div>
