
  <div class="col-lg-2"></div>
  <div class="col-lg-8 container" >
    <form>
      <div class="form-group relative row">
        <select  class="form-control" title="Select" [(ngModel)]="product.category" name="category" id="category">
            <!-- <select  class="form-control" title="Select"  name="category" id="category"> -->
          <option value="0" disabled>Please Select</option>
          <option *ngFor="let category of availableCategories" [value]="category.id">{{category.name}}</option>
        </select>
        <!-- <img *ngIf="flags.fetchingDepartments" class="departmentLoader" src="./assets/svg/bars.svg"> -->
        <!--<input type="email" class="form-control form-control-user" id="department" name="department" placeholder="Department">-->
      </div>
      <div class="form-group relative row">
        <label for="productname">Product_name</label>
         <input type="text" class="form-control1" id="txtbox1" name="productname" [(ngModel)]="product.name">
          <label for="price">Enter Price</label>
        <input type="text" class="form-control1" id="price" [(ngModel)]="product.price" name="price">
      </div>
      <div class="form-group relative row">
          <label for="Description">Description</label>
          <textarea class="form-control" rows="5" id="Description" name="description" [(ngModel)]="product.description"></textarea>
      </div>
      <div class="row">
        <button class="btn btn-primary" (click)="addProduct()">Submit</button>
      <button class="btn btn-danger">Cancel</button>
      </div>
      
    </form>
  </div>
  <div class="col-lg-2"></div>

