<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <form class="user">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="Username" [(ngModel)]="user.username">
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="contact" name="contact" placeholder="contact" [(ngModel)]="user.contact">
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-user" id="fname" name="fname" placeholder="Full Name" [(ngModel)]="user.name">
              </div>
              <div class="form-group relative">
                <select [disabled]="flags.fetchingDepartments" class="form-control" title="Select" [(ngModel)]="user.department" name="department" id="department">
                  <option value="0" disabled>Please Select</option>
                  <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
                </select>
                <img *ngIf="flags.fetchingDepartments" class="departmentLoader" src="./assets/svg/bars.svg">
                <!--<input type="email" class="form-control form-control-user" id="department" name="department" placeholder="Department">-->
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password" [(ngModel)]="user.password">
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user" id="rpassword" name="rpassword" placeholder="Repeat Password"  [(ngModel)]="confPass">
                </div>
              </div>
              <a href="javascript:void(0)" (click)="signUp()" class="btn btn-primary btn-user btn-block">
                Register Account
              </a>
              <hr>
              <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Register with Google
              </a>
              <a href="index.html" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
              </a>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" routerLink="/forgetpwd">Forgot Password?</a>
            </div>
            <div class="text-center">
              <a class="small" routerLink="/login">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
